<div class="center hero-unit">
  <h1>Welcome to Cash Bucket</h1>

  <p class="lead">
		With Cash Bucket, see where you're money is going before
		it reaches your bank account. You can see how much you're paying in
    taxes, health insurance, and even know how much is going into your 401k!
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"Rails"), 'http://ribyonrails.org/' %>
